body {
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background: #ffffff url("img/bg_main.jpeg") no-repeat 50% 0;
}

h1 {
  width: 260px;
  font-family: "Proxima Nova", "Noto Serif Myanmar";
  font-size: 36px;
  line-height: 36px;
  color: white;
  padding-top: unset;
}

footer {
  font-family: "Proxima Nova", "Noto Serif Myanmar";
  padding-top: 50px;
  padding-left: 105px;
  color: white;

}

div {
  font-family: "Proxima Nova", "Noto Serif Myanmar";
  padding-top: 40px;
  color: white;
}